:root {
    --white: #ffffff;
    --dairy: #fcfcfc;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --navyblue-modal: #2E2F42;
}

/* general */
*,
::after,
::before {
    box-sizing: border-box;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* phone screen */
.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

/* tablet-screen */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* desktop screen */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */
@media only screen and (max-width: 767.98px) {
    .all-headers {
        max-width: 768px;
    }

    nav .logo {
        padding-top: 24px;
        padding-bottom: 22px;
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.mobile-menu-button {
    height: 22px;
    width: 32px;
}

.all-headers {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.all-headers-content {
    display: flex;
    align-items: center;
}


/* here */

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
}

.menu-toggle-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #E7E9FC;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-modal);
}

.mobile-menu .studio {
    color: var(--ocean);
}

.modal-menu-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 428px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 80px 35px 40px 40px;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-address-pn {
    color: var(--iris);
    font-size: 36px;
    font-weight: 700;
}

.mobile-address-email {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
}

  .mobile-menu-socials {
    display: flex;
    flex-direction: row;
    gap: 56px;
  }

/* navigation */
nav .logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    color: var(--iris);
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    align-items: center;
}

/* logo */
.logo {
    margin-right: 76px;
}

.studio-text {
    color: var(--navy-blue);
    text-shadow: none;
}

/* main menu */

.menu-list {
    display: flex;
    gap: 40px;
    margin-right: auto;
}

@media (max-width: 767px) {

    .menu-list,
    .address {
        display: none;
    }
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    /* hw 3 */
    padding: 24px 0;
    /* hw 4 */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
    display: inline-block;
}

.menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.menu-item:active {
    text-decoration: underline;
}

/* address */
address {
    font-style: normal;
    margin-left: auto;
}

.address-item {
    display: inline-block;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media only screen and (min-width: 768px) {
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media only screen and (min-width: 1558px) {
    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-item {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}


/* hero section */
.hero-section {
    background-color: var(--navy-blue);
    padding: 112px 0;
    max-width: 100%;
    align-items: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url('../images/hero-mobile@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/hero-mobile@2x.jpg');
            }
}

@media only screen and (min-width: 768px) {
    .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
        }
  }

  @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/people-office\ 1@2x.jpg');
            }
  }

@media only screen and (min-width: 1558px) {
    .hero-section {
      padding: 188px 0;
      max-width: 1440px;
    }
  }

.page-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 320px;
    margin: 0 auto 72px;
}

@media (max-width: 767.98px) {
    .page-header {
        font-size: 36px;
    }
}

@media only screen and (min-width: 768px) {
  .page-header {
    margin: 0 auto 36px;
    max-width: 496px;
  }
}

@media only screen and (min-width: 1558px) {
    .page-header {
      margin: 0 auto 48px;
    }
  }

/* hero button */
.hero-btn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 16px 32px;
    border-radius: 4px;
    border-style: none;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}

/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* modal window */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-call-to-action {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.modal-window-form-item {
    margin-bottom: 8px;
}

.modal-window-title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
    margin-bottom: 4px;
}

.modal-window-input-container {
    position: relative;
}

.form-input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus+.modal-form-icon {
    fill: #4D5AE5;
}

.modal-window-form-item-comment {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.checkbox-privacy {
    display: block;
    margin-bottom: 24px;
    text-align: center;
    padding: 0;
}

.form-input-modal-checkbox {
    width: 16px;
    height: 16px;
    stroke-width: 1px;
    stroke: var(--navy-blue-modal, rgba(46, 47, 66, 0.4));
}

.checkbox-label {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.checkbox-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.privacy-text {
    color: var(--iris, #4D5AE5);
}

.form-input-modal-checkbox:checked+.checkbox-label>.checkbox-icon {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.modal-send-button {
    display: block;
    height: 56px;
    min-width: 169px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--iris, #4D5AE5);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

/* our pillars */
.our-pillars {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .our-pillars {
        padding: 120px 0;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* tablet-screen */
@media screen and (min-width: 768px) {
    .pillars-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .pillar-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media (max-width: 1557px) {
    .pillar-icon-container {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .pillar-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

/* desktop screen */
@media screen and (min-width: 1158px) {
    .pillars-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .pillar-item {
        width: calc((100% - 72px) / 4);
    }

    .pillar-icon-container {
        background-color: var(--cloud);
        padding: 24px 100px;
        margin-bottom: 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }
}

@media screen and (max-width: 768px) {
    .pillars-title {
        text-align: center;
    }
}

.pillars-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

@media screen and (min-width: 1158px) {
    .pillars-title {
        font-weight: 500;
        font-size: 20px;
    }
}

.sec-two-four-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

@media screen and (min-width: 1158px) {
    .sec-two-four-paragraph {
        font-weight: 400;
    }
}

/* what are we doing */

@media only screen and (max-width: 1557.98px) {
    .what-we-do-section {
        display: none;
    }
}

.second-level-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.what-we-do-section {
    padding: 0 0 120px 0;
}

.what-we-do-title {
    margin-bottom: 72px;
}

.what-we-do-list {
    display: flex;
    gap: 24px;
}

.what-we-do-item {
    width: calc((100% - 48px) / 3);
    border: var(--cornflower) 1px solid;
}

/* Our Team */
.our-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .our-team {
        padding: 120px 0;
    }
}

.our-team-title {
    margin-bottom: 72px;
}

.our-team-list-item {
    max-width: 264px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media (max-width: 767.98px) {
    .our-team-list-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .our-team-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
        padding: 0;
    }

    .our-team-list-item {
        flex-basis: calc((100% - 24px) / 2);
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
    .our-team-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .our-team-list-item {
        width: calc((100% - 72px) / 4);
    }
}

.name-and-position {
    padding: 32px 0;
}

.our-team-item-title {
    margin-bottom: 8px;
    text-align: center;
}

.our-team-list-item-text {
    text-align: center;
}

/* soc media */
.our-team-icons {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.our-team-icons-item {
    width: 40px;
    height: 40px;
}

.soc-media-icons-link:hover,
.soc-media-icons-link:focus {
    border: 1px solid var(--ocean);
    background-color: var(--ocean);
}

.soc-media-icons-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
    fill: var(--cloud);
}

/* customers */
.our-customers {
    padding: 96px 0;

}

@media only screen and (min-width: 1558px) {
    .our-customers {
        padding: 120px 0;
    }
}

.customers-title {
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
    column-gap: 16px;
}

.customers-list-item {
    max-height: 88px;
    max-width: 168px;
    width: calc((100% - 16px) / 2);
}

@media only screen and (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 32px) / 3);
    }
}

@media only screen and (min-width: 1558px) {
    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);

    }
}

.icon-logo-customers {
    fill: currentColor;
}

.customers-icon-link {
    color: var(--light-slate);
    border: solid 1px var(--light-slate);
    border-radius: 4px;
    padding: 16px 32px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
.customers-icon-link:focus {
    color: var(--ocean);
    border-color: var(--ocean);
}

/* footer */
.footer {
    background-color: var(--navy-blue);
}

.footer-class {
    padding: 100px 0;
}

.studio-text-footer {
    color: #f4f4fd;
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
}

.footer-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-logo {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    color: var(--iris);
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

@media only screen and (min-width: 1558px) {
    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    align-content: center;
}

.footer-soc-media-icons {
    display: flex;
    gap: 16px;
}

.footer-icons-item {
    width: 40px;
    height: 40px;
}

.footer-icons-item-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-item-link:hover,
.footer-icons-item-link:focus {
    border: #31D0AA;
    background-color: #31D0AA;
}

.footer-soc-media-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.footer-form {
    margin: 0;
    width: 100%;
}

@media only screen and (min-width: 1558px) {
    .footer-form {
        padding-left: 80px;
        margin: 0;
    }
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

@media only screen and (min-width: 1558px) {
    .subscribe-list {
        gap: 24px;
    }
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    font-family: inherit;
}

.form-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    margin: 0 auto;
    padding: 0;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;

    gap: 16px;
    border: none;
    width: 165px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    cursor: pointer;
    background-color: var(--ocean);
}

.paper-plane {
    margin-left: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-container {
        width: 584px;
        flex-wrap: wrap;
        gap: 72px 24px;
        flex-direction: row;
        align-items: normal;
    }

    .footer-logo,
    .footer-soc-media-title,
    .footer-form-title {
        text-align: left;
    }

    .form-input {
        width: 264px;
    }

    .subscribe-list {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-button {
        margin: 0;
    }
}

@media only screen and (min-width: 1558px) {
    .footer-container {
        width: 100%;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .footer-soc-media {
        padding-left: 120px;
    }
}